* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.app {
  margin-left: 200px;
  margin-right: 200px;
  padding: 20px;
  margin-top: 30px;
  border-radius: 20px;
  background: rgb(179, 197, 20);
  display: flex;
  flex-direction: column;
}
.form {
  margin-top: 40px;
  background: rebeccapurple;
  border-radius: 20px;
  padding: 60px;
}
.int {
  margin-left: 40%;
}
.btn {
  position: absolute;
  width: 52px;
  top: 45%;
  left: 45%;
}
.item {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: end;
  padding: 40px;
  background: rgb(11, 115, 200);
  margin: 10px;
}
.name {
  margin-right: 750px;
}
