* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  position: relative;
}
.app {
  position: absolute;
  top: 20px;
  left: 30vw;
  width: 500px;
  height: 700px;
  border-radius: 20px;
  background: rgb(32, 147, 192);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form {
  top: 20px;
  left: 24px;
  background: rebeccapurple;
  border-radius: 20px;
  width: 450px;
  height: 300px;
}
input {
  position: absolute;
  border: 5px solid rgb(226, 16, 226);
  padding: 10px;
  border-radius: 9px;
  width: 250px;
  height: 30px;
  top: 30%;
  left: 22%;
}
.btn {
  position: absolute;
  width: 52px;
  top: 45%;
  left: 45%;
}
.item {
  width: 450px;
  height: 30px;
  background: rgb(9, 205, 231);
  display: grid;
  grid-template-columns: auto auto;
}
